{% extends 'base.html.twig' %}



{% block title %}Hello PostController!{% endblock %}

{% block body %}


<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% include "post/partials/_hero.html.twig" %}
<link rel="stylesheet" href="assets\styles\index.css">

<div class="example-wrapper">
<h1 class="text-3xl font-bold underline">Hello
	! ✅</h1>
    <h2 class="text-3xl text-green-500">Sa marche</h2>
    <div>
        {% for movie in movies %}
        <div class="m-4">
            {% include "/post/component/cards.html.twig" %}

        </div>
            
        {% endfor %}


    </div>

{% endblock %}
